* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: black;
    color: white;
    border: 1px solid #3d3d3d;
}

header .logo img {
    height: 40px; /* Adjust based on your logo size */
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    color: orangered; /* Highlight color on hover */
    transform: scale(1.1); /* Slightly enlarge the link */
}

nav ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: orangered;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

nav ul li a:hover::after {
    transform: scaleX(1); /* Underline effect with scaling */
}

/* Login Button */
.login {
    background-color: transparent;
    padding: 10px 18px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: 1px solid white;
}

.login:hover {
    background-color: orangered;
    transform: scale(1.05);
}

.container {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
}

.main-content, .sidebar {
    background: #ffffff;
    padding: 20px;
    border-radius: 0px;
}

.main-content {
    width: 65%;
}

.sidebar {
    width: 30%;
}

.main-image img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    display: block;
}

.category {
    background: orangered;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 0px;
    font-size: 14px;
    margin: 15px 0;
    margin-top: auto;
}

.meta {
    font-size: 14px;
    color: #333;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content p,
.main-content > p {
    color: black;
    line-height: 1.4;
    margin-bottom: 20px;
    font-size: 14px;
}

.content h2,
.main-content > h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: black;
    text-decoration: none;
}

.legalization-impact h2 {
    color: black; /* orange/red title */
    font-size: 20px;
    margin-bottom: 20px;
}

.legalization-impact p {
    font-size: 14px;
    color: black;
    line-height: 1.4;
    margin-bottom: 20px;
} 

.legalization-impact ul {
    list-style-type: disc;
    padding-left: 20px;
    color: black;
}

.legalization-impact li {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 1.4;
    color: black;
}

.legalization-impact ul li::marker {
    color: black;
}

.legalization-impact strong {
    color: #900d09;
}

.quote-block {
    border-left: 2px solid #e60023;
    padding-left: 16px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #888;
    font-style: italic;
    font-family: 12px;
    line-height: 1.4;
}

.sidebar h3 {
    background: #0a0a23;
    color: #fff;
    padding: 10px;
    border-radius: 0 0px 0 0;
    font-size: 16px;
}

.sidebar-card {
    margin-bottom: 20px;
}

.sidebar-card img {
    width: 100%;
    height: 150px;
    border-radius: 0px;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

.sidebar-card h4 a{
    font-size: 15px;
    color: black;
    margin: 0 auto;
    margin-top: 20px;
    text-decoration: none;
}

.sidebar-card h4 a:hover {
    text-decoration: underline;
    color: black;
}

.sidebar-card p {
    color: #555;
    line-height: 1.1;
    font-size: 12px;
    padding-bottom: 30px;
    border-bottom: 1px solid #3d3d3d;
}

.small-card {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.small-card img {
    width: 35%;
    height: 80px;
    object-fit: cover;
    border-radius: 2px;
    display: block;
}

.small-card-info {
    flex: 1; 
  }

.small-card-info h5 {
    font-size: 16px;
    color: black;
}

.social-widget {
    background: transparent;
}

.social-widget h3 {
    background: #0a0a23;
    color: #fff;
    display: flex;
    padding: 12px 15px;
    border-radius: 0px 0px 0 0;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.social-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 15px;
    border-radius: 4px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 14px;
}

.social-row i {
    margin-right: 10px;
    font-size: 16px;
}

.social-row span {
    flex: 1;
}

.social-row a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: 10px;
    margin-left: 10px;
}

.facebook {
    background: #3b5998;
}
  
.twitter {
    background: #55acee;
}
  
.youtube {
    background: #cd201f;
}
  
.rss {
    background: #ff6600;
}

.topic {
    margin-top: 40px;
}

.topic h4 {
    font-size: 14px;
    color: black;
    margin-bottom: 10px;
}

.topics {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.topics a {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 0px;
    text-decoration: none;
    color: #333;
    background-color: #f9f9f9;
    transition: all 0.2s ease;
}
  
.topics a:hover {
    background-color: #f4f4f4;
    color: #333;
    border: 1px solid black;
}